<% for (event of eventsArray) { %>
    <tr>
        <td>
            <%= event.title %>
        </td>
        <td>
            <a href="/admin/update/<%= event._id %>">
                <button type="button" class="edit-button">Edit</button>
            </a>
        </td>
        <td>
            <form action="/events/<%= event._id %>?method=DELETE" method="POST"> 
                <button type="button" class="delete-button">Delete</button>
            </form>
        </td>
    </tr>
<% } %>