<% for (event of eventsArray) { %>
    <tr>
        <td>
            <%= event.title %>
        </td>
        <td>
            <a href="">
                <!-- when update page is created, hyperlink to that page -->
                <button type="button" class="edit-button">Edit</button>
            </a>
        </td>
        <td>
            <form action="#"> 
                <!-- when event detail page is created can have action be for event detail page with method as DELETE -->
                <button type="button" class="delete-button">Delete</button>
            </form>
        </td>
    </tr>
<% } %>