<% for (event of eventsArray) { %>
    <tr>
        <td>
            <%= event.title %>
        </td>
        <td>
            <button type="button" class="edit-button">Edit</button>
        </td>
        <td>
            <button type="button" class="delete-button">Delete</button>
        </td>
    </tr>
<% } %>