<% for (message of messagesArray) { %>
    <tr>
        <td>
            <%= message.name %>
        </td>
        <td>
            <%= message.message %>
        </td>
        <td>
            <form action="/admin/inbox?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="submit" class="delete-button" value="Delete">
            </form>
        </td>
    </tr>
<% } %>