<div class="wrapper">
    <nav>
      <a href="home.html">
          <h1>Contra&nbsp;Search</h1>
      </a>
      <a href="home.html">
          <img src="/images/contrastar.svg" alt="Vector drawing of four brightly colored people turning in a star formation with their hand on the wrist of the person in front of them.">
      </a>
      <a href="javascript:void(0);" class="menu-icon">
          <i class="fas fa-bars fa-lg"></i>
      </a>
      <ul class="menu-items">
          <li><a href="home.html">Home</a></li>
          <li><a href="about-contra.html">What is Contra?</a></li>
          <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>