/* Define the colors */
/* Set the defaults */
:root {
    --orange: #EC5800;
    --yellow: #FFCC33;
    --aqua: #C9FFE5;
    --purple: #614051;
    --bright-purple: #9B598D;
    --ivory: #FFFFF0;
    --white: #FFFFFF;
    --gray: #594A4B;

    --navbar-bg: var(--yellow);
    --main-bg: var(--ivory);
    --heading: var(--purple);
    --body: var(--gray);
    --menu: var(--gray);

    --sans-serif-font: 'Cabin', sans-serif;
    --serif-font: 'Inknut Antiqua', serif;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-color: var(--ivory);
    font-family: var(--sans-serif-font);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navbar Styling */

nav {
    background-color: var(--navbar-bg);
    width: auto;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav h1 {
    color: var(--heading);
    font-size: 1rem;
    margin: 0 5px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav img {
    display: block;
    width: 60px;
    height: auto;
    padding-left: 1em;
    margin: 0 auto;
}

.menu-items {
    display: none; /* Hide menu items by default */
}

/* Drop-down menu for hamburger icon */

.menu-items.open {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
}

nav li a {
    display: block;
    color: var(--menu);
    font-family: var(--sans-serif-font);
    padding: 12px 20px;
}

nav ul:hover > li {
    opacity: 0.5;
}

nav ul:hover > li:hover {
    opacity: 1.0;
}

nav li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--aqua);
    text-decoration-thickness: 0.2em;
}

.menu-icon {
    color: var(--gray);
    flex-grow: 1;
    text-align: right;
    padding-right: 1em;
}

/* Main Body Styling */

main {
    overflow-y: auto;
    width: 100%;
}

section:last-of-type {
    padding-bottom: 10px;
}

.wrapper-inner {
    width: 85%;
    height: 100vh;
    margin: 0px auto;
}

h1 {
    font-family: var(--serif-font);
    color: var(--heading);
    margin-bottom: 0;
}

p {
    font-family: var(--sans-serif-font);
    color: var(--body);
}

/* Home Page Styling */

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    padding: 2px 1px 4px 1px;
    border-radius: 5px;
    background-color: var(--ivory);
    overflow: hidden;
}

.card p {
    font-size: 1.2rem;
}

.search {
    width: 100%;
    display: flex;
  }

.search-form {
    display: flex;
}
  
.search-term {
    width: 100%;
    border: 3px solid var(--orange);
    border-right: none;
    padding: 5px;
    height: 46px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
  }
  
.search-button {
    width: 70px;
    height: 46px;
    border: 1px solid var(--orange);
    background: var(--orange);
    display: flex;
    align-items: center;
    color: var(--white);
    border-radius: 0 5px 5px 0;
  }

.submit-event {
    width: 300px;
    font-family: var(--sans-serif-font);
    font-size: 1rem;
    padding: 1px 16px;
}

/* Contact Page Styling */

.about-me {
    display: flex;
    flex-flow: column wrap;
}

.rachel-dancing {
    width: 250px;
    height: auto;
}

.social-media-icons {
    width: 125px;
    color: var(--purple);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* Form Styling */

.form-container div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-container label {
    color: var(--gray);
    padding: 12px 5px 12px 0;
}

.form-container input[type=text],
.form-container input[type=number], 
.form-container select,
.form-container textarea,
.form-container input[type=date],
.form-container input[type=time] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    outline: none;
}

.form-container textarea {
    height: 150px;
}

.form-container input[type=submit],
.orange-button {
    width: 100%;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 7px 12px;
    margin-top: 20px;
}

/* Search Results Page Styling */

.small-card {
    padding: 20px 0;
    border-radius: 5px;
    background-color: var(--ivory);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.small-search {
    display: flex;
  }

.small-search-term {
    width: 200px;
    border: 3px solid var(--orange);
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
  }
  
.small-search-button {
    width: 50px;
    height: 36px;
    border: 1px solid var(--orange);
    background: var(--orange);
    display: flex;
    align-items: center;
    color: var(--white);
    border-radius: 0 5px 5px 0;
  }

.event-item {
    background-color: var(--white);
    color: var(--gray);
    border-left: solid 10px var(--bright-purple);
    border-top: solid 1px var(--gray);
    border-right: solid 1px var(--gray);
    border-bottom: solid 1px var(--gray);
    border-radius: 0 10px 10px 10px;
    margin: 10px 0;
    display: flex;
}

.logo-container {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container h2 {
    border: solid 20px gray;
    border-radius: 50%;
    color: var(--white);
    background-color: gray;
}

.event-listing {
    width: 100%;
}

.event-listing ul {
    list-style-type: none;
}

.event-listing li {
    padding: 3px;
}

/* Event Detail Page Styling */

.category {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 0.2em;
}

/* Admin Page Styling */

.admin-header {
    display: flex;
    justify-content: space-between;
}

button,
.delete-button {
    color: var(--white);
    font-size: 0.75em; /*mobile*/
    border: none;
    border-radius: 10px;
    padding: 7px 12px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.new-event-button,
.delete-button {
    background-color: var(--orange);
}

.edit-button {
    background-color: var(--purple);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th,
td {
    border: solid 2px black;
    padding: 10px;
    font-size: 0.75em; /*mobile*/
}

th {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* Media Queries */

/* Desktop Size */

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    nav {
        flex-direction: column;
        justify-content: start;
    }

    nav h1 {
        font-size: 1.6rem;
        margin-top: 1em;
    }

    nav img {
        width: 175px;
        margin: 0px auto 30px;
    }

    .menu-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    nav li a {
        font-size: 1.2rem;
    }

    .menu-icon {
        display: none;
    }

    p {
        font-size: 1rem;
    }

    .card {
        width: 500px;
    }

    .card p {
        font-size: 1.6rem;
    }    

    .search-term {
        padding: 5px;
        height: 56px;
        font-size: 1.4rem;
      }

    .search-button {
        height: 56px;
    }

    .submit-event {
        width: 500px;
    }

    .about-me {
        display: flex;
        flex-flow: row;
    }

    .rachel-dancing {
        margin-right: 20px;
    }

    .small-search-term {
        width: 300px;
    }

    .small-search-button {
        width: 50px;
    }

    button {
        font-size: 0.85rem;
    }

    th,
    td {
        font-size: 0.85rem;
    }

}

/* Large Desktop Size */

@media screen and (min-width: 1024px) {
    .wrapper {
        flex-direction: row;
    }
    nav {
        flex-direction: column;
        justify-content: start;
    }

    nav h1 {
        font-size: 1.8rem;
        margin-top: 1em;
    }

    nav img {
        width: 185px;
        margin: 0px auto 30px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    nav li a {
        font-size: 1.4rem;
    }

    .menu-icon {
        display: none;
    }

    p {
        font-size: 1.2rem;
    }

    .card {
        width: 700px;
    }

    .card p {
        font-size: 1.6rem;
    }

    .search-term {
        padding: 5px;
        height: 56px;
        font-size: 1.4rem;
      }

    .search-button {
        height: 56px;
    }

    .submit-event {
        width: 700px;
    }

    .about-me {
        display: flex;
        flex-flow: row;
    }

    .rachel-dancing {
        margin-right: 20px;
    }

    button,
    .delete-button {
        font-size: 1rem;
    }

    th,
    td {
        font-size: 1rem;
    }

}