:root {
    --orange: #EC5800;
    --yellow: #FFCC33;
    --aqua: #C9FFE5;
    --purple: #614051;
    --white: #FFFFF0;
    --gray: #594A4B;
    font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Cabin', sans-serif;
    font-family: 'Cormorant Garamond', serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* Navbar styling */

nav {
    background-color: var(--yellow);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    color: var(--purple);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav img {
    display: block;
    width: 175px;
    height: auto;
    padding: 10px;
    margin: 20px auto;
}

nav ul {
    display: none;
}

nav li a {
    display: block;
    color: var(--gray);
    font-family: 'Cabin', sans-serif;
    padding: 8px 16px;
}

ul:hover > li {
    opacity: 0.5;
}

ul:hover > li:hover {
    opacity: 1.0;
}

nav li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--aqua);
    text-decoration-thickness: 0.2em;
}

a.menu-icon {
    color: var(--grey);
    display: flex;
    align-items: center;
}

/* Main body styling */

main {
    overflow-y: auto;
}

.wrapper_inner {
    width: 90%;
    margin: 0px auto;
}

main div div {
    padding: 1px 16px;
}

/* Large screen styling */

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }
    nav {
        flex-direction: column;
        justify-content: start;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    a.menu-icon {
        display: none;
    }
}
