/* Define the colors */
/* Set the defaults */
:root {
    --orange: #EC5800;
    --yellow: #FFCC33;
    --aqua: #C9FFE5;
    --purple: #614051;
    --white: #FFFFF0;
    --gray: #594A4B;

    --navbar-bg: var(--yellow);
    --main-bg: var(--white);
    --heading: var(--purple);
    --body: var(--gray);
    --menu: var(--gray);
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background-color: var(--white);
    font-family: 'Cabin', sans-serif;
    font-family: 'Inknut Antiqua', serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navbar styling */

nav {
    background-color: var(--navbar-bg);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav h1 {
    color: var(--heading);
    font-size: 1rem;
    margin: 0 5px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav img {
    display: block;
    width: 60px;
    height: auto;
    padding-left: 1em;
    margin: 0 auto;
}

nav ul {
    display: none;
}

nav li a {
    display: block;
    color: var(--menu);
    font-family: 'Cabin', sans-serif;
    padding: 12px 20px;
}

ul:hover > li {
    opacity: 0.5;
}

ul:hover > li:hover {
    opacity: 1.0;
}

nav li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--aqua);
    text-decoration-thickness: 0.2em;
}

.menu-icon {
    color: var(--gray);
    flex-grow: 1;
    text-align: right;
    padding-right: 1em;
}

/* Main body styling */

main {
    overflow-y: auto;
    width: 100%;
}

.wrapper-inner {
    width: 85%;
    height: 100vh;
    margin: 0px auto;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    color: var(--heading);
}

p {
    font-family: 'Cabin', sans-serif;
    color: var(--body);
}

/* Home page body styling */

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    padding: 2px 1px 4px 1px;
    border-radius: 5px;
    background-color: var(--white);
    overflow: hidden;
}

.card p {
    font-size: 1.2rem;
}

.search {
    width: 100%;
    display: flex;
  }
  
.search-term {
    width: 100%;
    border: 3px solid var(--orange);
    border-right: none;
    padding: 5px;
    height: 46px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
  }
  
.search-button {
    width: 70px;
    height: 46px;
    border: 1px solid var(--orange);
    background: var(--orange);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    /* cursor: pointer;
    font-size: 20px; */
  }

.post-event {
    width: 300px;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    padding: 1px 16px;
}

/* Media Queries */

/* Desktop Size */

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    nav {
        flex-direction: column;
        justify-content: start;
    }

    nav h1 {
        font-size: 1.8rem;
        margin-top: 1em;
    }

    nav img {
        width: 175px;
        margin: 0px auto 30px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    nav li a {
        font-size: 1.4rem;
    }

    .menu-icon {
        display: none;
    }

    p {
        font-size: 1.2rem;
    }

    .card {
        width: 500px;
    }

    .card p {
        font-size: 1.6rem;
    }    

    .search-term {
        padding: 5px;
        height: 56px;
        font-size: 1.4rem;
      }

    .search-button {
        height: 56px;
    }

    .post-event {
        width: 500px;
    }
}

/* Large Desktop Size */

@media screen and (min-width: 1024px) {
    .wrapper {
        flex-direction: row;
    }
    nav {
        flex-direction: column;
        justify-content: start;
    }

    nav h1 {
        font-size: 2rem;
        margin-top: 1em;
    }

    nav img {
        width: 185px;
        margin: 0px auto 30px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    nav li a {
        font-size: 1.6rem;
    }

    .menu-icon {
        display: none;
    }

    p {
        font-size: 1.4rem;
    }

    .card {
        width: 700px;
    }

    .card p {
        font-size: 1.6rem;
    }

    .search-term {
        padding: 5px;
        height: 56px;
        font-size: 1.4rem;
      }

    .search-button {
        height: 56px;
    }

    .post-event {
        width: 700px;
    }
}