<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

        <main>
            <div class="wrapper-inner">
                <h1>What is Contra Dancing?</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jTXQhU67pU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Contra dancing is really fun! It's easy to do. It doesn't require any fancy footwork or any background in dance. It's a great way to dance with 50 people in 10 minutes.</p>
                <p>Contra dance is a form of folk dancing that is most commonly found in the United States, but is danced all over the world by people of all ages. It has over 100 years of cultural influences from many different sources, including English country dance, Scottish country dance, and French dance styles in the 17th century.</p>
                <p>Almost all contra dances are danced to catchy, upbeat live music. This often includes, but is not limited to, Irish, Scottish, old-time, and French-Canadian folk tunes. Common instruments played by contra bands include fiddle, guitar, mandolin, banjo, piano, accordian, and more. Sometimes more modern instruments, such as electric guitar and bass, are included as well.</p>
                <p>During a contra dance, you dance with a partner in a long line of couples called a set. You dance a sequence of figures with the couple next to you (known as your 'neighbors'). Cycles last about 30 seconds. After every cycle through the dance pattern, you will progress down the line to a new couple where you dance the pattern anew, so eventually you will dance with every other couple in the set.</p>
                <p>The dance is led by a caller who teaches the sequence of figures in the dance before the music starts. As the music begins, the caller will call out the figures, and will gradually stop calling as the music continues to let the dancers keep repeating the pattern on their own.</p>
                <p>Contra dances don't have an expected dress code, but comfortable, loose-fitting clothing that doesn't restrict movement, and low-heeled, soft-soled shoes, such as dance shoes or sneakers are recommended.</p>
                <img>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </main>
    
<%- include('../partials/footer') -%>

</html>