<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

        <main>
            <div class="wrapper-inner">
                <h1>Admin Page</h1>
                <button type="button" class="new-event-button">Add New Event</button>
                <table>
                    <thead>
                        <tr>
                            <th>Event Title</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Snow Day: A Flurry Festival Fundraising Concert</td>
                            <td><button type="button" class="edit-button">Edit</button></td>
                            <td><button type="button" class="delete-button">Delete</button></td>
                        </tr>
                        <tr>
                            <td>The Flurry Festival</td>
                            <td><button type="button" class="edit-button">Edit</button></td>
                            <td><button type="button" class="delete-button">Delete</button></td>
                        </tr>
                        <tr>
                            <td>BIDA Sunday Night Contra Dance</td>
                            <td><button type="button" class="edit-button">Edit</button></td>
                            <td><button type="button" class="delete-button">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    
<%- include('../partials/footer') -%>

</html>