<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

        <main>
            <div class="wrapper-inner">
                <h1>Admin Page</h1>
                <a href="/admin/create">
                    <button type="button" class="new-event-button">Add New Event</button>
                </a>
                <table>
                    <thead>
                        <tr>
                            <th>Event Title</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('../partials/event-listing') -%>
                    </tbody>
                </table>
            </div>
        </main>
    
<%- include('../partials/footer') -%>

</html>