<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

        <main>
            <div class="wrapper-inner">
                <section>
                    <h1>Contact Me</h1>
                    <div class="form-container">
                        <form action="/contact" method="POST">
                            <div>
                                <label for="name">Name:</label>
                                <input type="text" name="name" id="name" placeholder="Full Name">
                            </div>
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" placeholder="example@example.com">
                            </div>
                            <div>
                                <label for="message">Message:</label>
                                <textarea name="message" id="message" placeholder="Message here"></textarea>
                            </div>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>
                <section>
                    <h1>About Me</h1>
                    <div class="about-me">
                        <img class= "rachel-dancing" src="/images/Rachel_dancing.jpeg" alt="Two young women dancing in a close embrace. The one facing the viewer is laughing with joy. She has short blonde hair and is wearing glasses.">
                        <div>
                            <p>Hi, I'm Rachel Sensenig, a full stack web developer living in the Boston-area who loves to build fun, accessible websites. After working in the environmental non-profit sector for 8 years I discovered what I really loved was solving problems behind the scenes, so decided to pursue programming. I got into CodeSquad to learn HTML, CSS, and JavaScript. Contra Search is my personal project from this program.
                            </p>
                            <p>When I was 16 I attended a birthday party at a contra dance in Worcester, MA without even knowing what contra was - I've been hooked ever since! I created this website out of a desire to create an easy-to-navigate resource to find contra dances that also shows the energy and joy of the dance through its design.</p>
                        </div>
                    </div>
                    <div class="social-media-icons">
                        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    </div>
                </section>
            </div>
        </main>

<%- include('../partials/footer') -%>
    
</html>