<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>
    
      <main>
        <div class="wrapper-inner">
            <div class="card-container">
                <div class="card">
                    <p>Find a dance near you!</p>
                     <div class="search">
                        <input type="text" class="search-term" placeholder="Enter Zipcode">
                        <button type="submit" class="search-button">
                            <i class="fas fa-search fa-2x"></i>
                        </button>
                    </div>
                </div>
                <div class="post-event">
                    <a href="post-event.html">Submit an event <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
      </main>
   
<%- include('../partials/footer') -%>

</html>