<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>
    
      <main>
        <div class="wrapper-inner">
            <div class="card-container">
                <div class="card">
                    <p>Find a dance near you!</p>
                     <div class="search">
                        <form class="search-form" action="/events/results" method="GET">
                            <input type="text" name="zipCode" id="zipCode" class="search-term" placeholder="Enter Zip Code">
                            <button type="submit" class="search-button">
                                <i class="fas fa-search fa-2x"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="submit-event">
                    <a href="/events/submit-event">Submit an event <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
      </main>
   
<%- include('../partials/footer') -%>

</html>