<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

        <main>
            <div class="wrapper-inner">
                <h1>Thank You!</h1>
                <p>Thank you for submitting an event to Contra Search! Please allow up to a week for your event to be reviewed and added to the website.</p>
                <a href="/">
                    <button type="button" class="orange-button">Return to the Homepage</button>
                </a>
                <a href="/events/submit-event">
                    <button type="button" class="orange-button">Submit Another Event</button>
                </a>
            </div>
        </main>
    
<%- include('../partials/footer') -%>

</html>